includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        # - app
        - modules

    # The level 8 is the highest level, Normalized version is level 3,
    level: 8

    ignoreErrors:
        - '#Unsafe usage of new static#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
