includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        # - app
        - modules

    # The level 9 is the highest level
    level: 3

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Unsafe usage of new static#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
