includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        # - app
        - modules

    # The level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property [a-zA-Z0-9\_]+::\$.*#'
        - '#Parameter \#1 \$value of static method PhpParser\\BuilderHelpers\:\:normalizeValue\(\) expects array\|bool\|float\|int\|PhpParser\\Node\\Expr\|string\|null, mixed given#'


    excludePaths:
        - ./*/*/FileToBeExcluded.php

    parallel:
        maximumNumberOfProcesses: 4

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    noUnnecessaryCollectionCall: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
